<div class="row">
  <div class="col-sm-12 text-center">
    <%= link_to 'prev', root_path(fecha: (@lunes - 1.week).to_s(:url)) %>
    <strong><%= @lunes.to_s(:argentina) %></strong>
    <%= link_to 'prox', root_path(fecha: (@lunes + 1.week).to_s(:url)) %>
  </div>
</div>
<div class="row">
  <% (0..3).each do |hora|
    hora = (hora * 6 + 6) % 24 %>
    <span class="hora-label"><%= hora %></span>
  <% end %>
</div>
<div id="calendario">
  <% (0..6).each do |dia|
    dia = @lunes + dia.days + 6.hours %>
    <div class="dia row" id="dia-<%= dia.to_s(:db) %>" data-fecha="<%= dia.to_s(:db) %>">
      <div class="tag_dia"><%= fecha_corta(dia) %></div>
      <% (0..(24 * 3 -1)).each do |lapso|
        d = desde(dia, lapso)
        h = hasta(dia, lapso)
        t = @tareas.entre(d, h)
        if t.any? %>
          <div class="lapso activo"
            data-desde="<%= d.to_s(:db) %>"
            data-hasta="<%= h.to_s(:db) %>"
            data-proyecto="<%= t.first.proyecto %>"
            data-descripcion="<%= t.first.descripcion %>"><div class="proyecto"></div><div class="tarea"></div></div>
        <% else %>
          <div class="lapso"
            data-desde="<%= d.to_s(:db) %>"
            data-hasta="<%= h.to_s(:db) %>">
            <div class="proyecto"></div>
            <div class="tarea"></div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="col-md-4" id="tarea-form-wrapper">
<%= form_for @tarea, html: { id: 'tarea-form' } do |f| %>
<div id="diferentes_tareas">
<% @diferentes_tareas.each do |t| %>
  <span class="tarea-btn label" data-descripcion="<%= t.first %>" data-proyecto="<%= t.last %>" /><%= t.first %></span>
<% end %>
</div>
<h4> Nueva Tarea </h4>
<%=   f.label 'Proyecto' %>
<% @proyectos.each do |p| %>
  <%= raw("<span class=\"proyecto-btn label\" data-proyecto=\"#{p.nombre}\" />#{p.nombre}</span>") %>
<% end %>
<%=   f.autocomplete_field :proyecto, autocomplete_proyecto_nombre_proyectos_path, class: 'form-control'  %>
<%=   f.label 'Descripcion' %>
<%=   f.text_field :descripcion, class: 'form-control' %>

<%=   f.submit 'Guardar', class: "btn btn-primary btn-lg" %>
<% end %>
</div>

<script>
var diferentes_tareas = <%= raw @diferentes_tareas.to_json %>;
var lunes = parseDate(<%= raw @lunes.to_json %>);

function parseDate(input) {
  var parts = input.match(/(\d+)/g);
  return new Date(parts[0], parts[1]-1, parts[2]);
}

function dateToS(date) {
  m = date.getMonth() + 1;
  return date.getFullYear() + '-' + m + '-' + date.getDate();
}
</script>
